body {
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

h1 {
  color: rgb(39, 99, 165);
  font-size: 20pt;
  padding: 0em 1em 0em 2em;
  margin: 0em 0em 0.5em 0em;
  border-bottom: 2px solid #666;
}

h2 {
  color: rgb(39, 99, 165);
  padding: 1em 2em 0em 2em;
  margin: 0em 0em 0.5em 0em;
  font-size: 15pt;
  border-bottom: 1px solid #666;
}

#content {
	padding: 0em 2em;
  margin-top: 2.5em;
}

a { 
  color: #888888; 
  text-decoration: none; 
}

a:hover {	
  text-decoration: none;  
  color: #333333;
}

table {
	border-collapse: collapse;
}

td, th  {
	border: 1px solid gray;
	padding: 0.2em;
}

th {
	background-color: #aaaaaa;
}

td.odd {
	background-color: #eeeeee;
}

.gap {
	color: red;
}

#description {
	font-weight: bold;
	padding: 1em 0;
}

.control {
	display: block;
	float: left;
}

.label {
	font-weight: bold;
	width: 5em;
	display: block;
	text-align: right;
	float: left;
	padding: 0 0.5em;
}

.clear {
	clear: both;
}

#menu {
  background-color: #eeeeee;
  left: 0em;
	top: 0em;
	right: 0em;
	padding-left: 5em;
  position: absolute;
  display: block;
}

#menu ul {
  margin: 0;
  padding: 0em;
  list-style: none;
}

#menu li {
  display: inline;
	float: left;
}

#menu li a { 
  height: 1.5em; 
  line-height: 1.5em;
  padding: 0.2em 0.5em;
  display: block; 
  color: #333333;
}

#menu li a:hover, #menu li a.active  {
	background-color: rgb(39, 99, 165);
	color: white;
  text-decoration: none;
}

#menu li a.active {
	font-style: italic;
}

a.button {
	background: url(images/button-background.png) repeat-x #a9a9a9;
	border: 1px solid gray;
	color: black;
	padding: 0 0.2em;
}

a.button:hover {
	background: url(images/button-background-pressed.png) repeat-x #a9a9a9;
}
