<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<context:annotation-config/>
	<context:component-scan base-package="org.openbakery.racecontrol"/>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:raceControl.properties</value>
		</property>
	</bean>
	
	<bean id="jInSimClient" class="org.openbakery.racecontrol.JInSimClient" scope="singleton">
		<constructor-arg type="java.lang.String" value="${name}"/>
		<constructor-arg type="java.lang.String" value="${hostname}"/>
		<constructor-arg type="int" value="${port}"/>
		<constructor-arg type="java.lang.String" value="${password}"/>
	</bean>
	
	<bean id="raceControl" class="org.openbakery.racecontrol.RaceControl" scope="singleton" destroy-method="exit">
		<property name="persistence" ref="${persistence}"/>
		<property name="client" ref="jInSimClient"/>

		<property name="plugins">
			<list>
				<ref bean="welcomeMessage"/>
				<ref bean="tracker"/>
				<ref bean="profileHelper"/>
			</list>
		</property>
	</bean>

	
	<bean id="welcomeMessage" class="org.openbakery.racecontrol.plugin.WelcomeMessage">
		<constructor-arg type="java.lang.String" value="${welcome.message}"/>
	</bean>
  
	<bean id="tracker" class="org.openbakery.racecontrol.plugin.tracker.Tracker">
	</bean>
  
	<bean id="trackerService" class="org.openbakery.racecontrol.plugin.tracker.TrackerService">
	</bean>
    
	<bean id="database" class="org.openbakery.racecontrol.persistence.DatabasePersistence">
		<constructor-arg value="racecontrol-hsqldb"/>
		<qualifier type="Database"/>
	</bean>
  

	<bean id="queryHelper" class="org.openbakery.racecontrol.persistence.QueryHelper">
		<constructor-arg type="org.openbakery.racecontrol.persistence.Persistence" ref="database"/>
	</bean>


	<bean id="databaseService" class="org.openbakery.racecontrol.service.DatabaseService">
		<property name="queryHelper" ref="queryHelper"/>
		<property name="profileHelper" ref="profileHelper"/>
	</bean>

  <bean id="driverProfileService" class="org.openbakery.racecontrol.plugin.profile.service.DriverProfileService">
		<property name="persistence" ref="database"/>
	</bean>
  

	<bean id="serviceLocator" class="org.openbakery.racecontrol.service.ServiceLocator">
	</bean>
	

    
	<bean id="loginService" class="org.openbakery.racecontrol.service.LoginService">
		<property name="username" value="${admin.username}"/>
		<property name="password" value="${admin.password}"/>
	</bean>
	
	<bean id="raceService" class="org.openbakery.racecontrol.service.RaceService">
		<property name="client" ref="jInSimClient"/>
		<property name="raceControl" ref="raceControl"/>
	</bean>
	
	
	<bean id="settingsService" class="org.openbakery.racecontrol.service.SettingsService">
	</bean>
	
	<bean id="settingsLoader" class="org.openbakery.racecontrol.service.SettingsLoader">
		<constructor-arg type="java.lang.String" value="${settings.path}"/>
	</bean>

	<bean id="profileHelper" class="org.openbakery.racecontrol.plugin.profile.DriverProfilePlugin">
	</bean>
	

	
</beans>
